{% extends 'core/base.html' %} {% load static %} {% block title %}Editar página{% endblock %} {% block content %} 
{% include 'pages/includes/pages_menu.html'%}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <div>
          <form method="post">
            {% csrf_token %}
            <div class="alert alert-warning" role="alert">
              <p>Esta usted seguro que quiere eliminar la pagina:  "{{ object }}"?</p>
            </div>
            {{ form }}
            <input class="btn btn-danger btn-block" type="submit" value="Eliminar" />
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
